<h4 class="text-center">Login</h4>
<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="mb-3">
    <input
      [(ngModel)]="usuario"
      name="usuario"
      type="text"
      class="form-control"
      placeholder="Nome do usuário"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem *ngIf="campoUsuario.invalid && campoUsuario.touched" mensagem="Usuário obrigatório"></app-mensagem>
  </div>
  <div class="mb-3">
    <input
      [(ngModel)]="senha"
      name="senha"
      type="password"
      placeholder="Senha"
      class="form-control"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem *ngIf="campoSenha.invalid && campoSenha.touched" mensagem="Senha obrigatória"></app-mensagem>

  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" [disabled]="loginForm.invalid" type="submit">Login</button>
  </div>
</form>
